<div class="main-container">
   <div class="image-row">
     <img src="/Profile_pic.jpg" alt="Kaushik headshot" class="avatar-image">
   </div>
 
   <div class="name-row">
     GV Kaushik
   </div>
 
   <div class="social-icons-row">
          <a href="https://www.instagram.com/gvkaushik/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/gvkaushik/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>        
          </a>
          <a href="https://x.com/gvkaushik/" target="_blank">
            <i class="fa-brands fa-twitter"></i>        
          </a>
        
        </div>
<% @list_of_items.each do |the_item|%>
<div class="item">
  <img src="<%=the_item.thumbnail_url%>"class="thumbnail">
  <a class="link-text" target="_blank" href="<%=the_item.link_url%>"> <%=the_item.link_description%>! </a>
</div>
<%end%>
